alias config-rebuild="pushd . && cd <<CONFIG_REPO_PATH>> && ./build_config.sh && sudo cp generated/configuration.nix /etc/nixos/ && sudo nixos-rebuild switch && popd"
export XMONAD_CONFIG_DIR=<<CONFIG_REPO_PATH>>
